<!DOCTYPE html>
<!--Enlaces de píe de página--------------------------------------------------->
<footer class="footer footer-default" style="color: white">
  <div class="container">
    <nav class="float-right">
      <ul>
        <li><a href="https://www.flatlanders-store.com/"> Inicio </a></li>
        <li>
          <a href="https://www.flatlanders-store.com/presentation">
            Acerca de Nosotros
          </a>
        </li>
        <li>
          <a href="https://www.flatlanders-store.com/blog"> Blog </a>
        </li>
        <li>
          <a href="https://www.flatlanders-store.com/license"> Licencias </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
