<!DOCTYPE html>
<!--Encabezado con video promocional----------------------------------------------------->
<div
  class="page-header"
  data-parallax="true"
  style="
    background-image: url('https://i.pinimg.com/originals/db/a7/c7/dba7c7da1e1c8103a715a756faa2edc1.jpg');
  "
>
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="background-color: rgba(0, 0, 0, 0.679)">
        <h1 class="title">Configura tu propio equipo</h1>
        <h4>
          En Red Computer podemos ayudarte a armar la pc de tus sueños y
          satisfacer tus necesidades con nuestro configurador PC personalizado.
        </h4>
        <br />
        <a
          href="https://youtu.be/aJcvh8bIwq4"
          target="_blank"
          class="btn btn-rose btn-raised btn-lg"
        >
          <i class="fa fa-play"></i> Mira nuestro video
          <!--Agregar texto al botón-->
        </a>
      </div>
    </div>
  </div>
</div>

<!--Carrusel de promoción-------------------------------------------------------------------------->
<div class="row">
  <div class="col">
    <div class="card card-raised card-carousel">
      <!--Tarjeta carrusel con efecto 'flotando'-->
      <div
        id="carousel"
        class="carousel slide"
        data-ride="carousel"
        data-interval="4000"
        style="overflow: hidden"
      >
        <ol class="carousel-indicators">
          <!--Indicadores Cuadrados pequeños-->
          <li data-target="#carousel" data-slide-to="0"></li>
          <li data-target="#carousel" data-slide-to="1" class="active"></li>
        </ol>

        <div class="carousel-inner">
          <!--Primer imágen del carrusel-->
          <div class="carousel-item active carousel-item-left">
            <img
              src="https://i.pinimg.com/originals/f1/30/8e/f1308e5377ad04cfb7c469567998da5e.jpg"
              alt="First slide"
              class="d-block w100"
            />
            <div class="carousel-caption d-node d-md-block">
              <h4>
                <i class="material-icons">loyalty</i>
                Promocion 1
              </h4>
            </div>
          </div>

          <!--Segunda imágen del carrusel-->
          <div class="carousel-item carousel-item-next carousel-item-left">
            <img
              src="https://i.pinimg.com/originals/5d/02/6c/5d026ccb717e8e02d691ca6301499a31.jpg"
              alt="First slide"
              class="d-block w100"
            />
            <div class="carousel-caption d-node d-md-block">
              <h4>
                <i class="material-icons">loyalty</i>
                Promocion 2
              </h4>
            </div>
          </div>
        </div>

        <!--Controles del carrusel Flechas-->
        <!--Atrás-->
        <a
          class="carousel-control-prev"
          href="#carousel"
          role="button"
          data-slide="prev"
        >
          <i class="material-icons">keyboard_arrow_left</i>
          <span class="sr-only">Previous</span>
        </a>
        <!--Adelante-->
        <a
          class="carousel-control-next"
          href="#carousel"
          role="button"
          data-slide="next"
        >
          <i class="material-icons">keyboard_arrow_right</i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Acerca del producto--------------------------------------------------------------->
<div
  class="main main-raised"
  style="background-color: rgb(10, 10, 10); color: white"
>
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <!--Encabezado-->
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="tile" style="color: deeppink">¿Quiénes Somos?</h2>
          <h5 class="description">
            Somos una empresa joven e innovadora y ofrecemos lo mejor en
            informática y todo lo relacionado con el mundo del gaming para PC.
            En nuestra tienda física como online ofrecemos productos de
            informática y tecnología para que disfrutes al máximo de los
            videojuegos, del diseño, de la edición y del ocio y entretenimiento
            digital.
          </h5>
        </div>
      </div>

      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <!--Cuadro: Contacta con nosotros-->
            <div class="info">
              <div class="icon icon-rose">
                <i class="material-icons">face</i>
              </div>
              <h4 class="info-title" style="color: deeppink">
                Asistencia Técnica
              </h4>
              <p>
                Servicio tanto de montaje de ordenadores personalizados como
                también servicio técnico y de reparación a manos de nuestros
                técnicos expertos.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <!--Cuadro: Usuario Verificado-->
            <div class="info">
              <div class="icon icon-rose">
                <i class="material-icons">alarm_on</i>
              </div>
              <h4 class="info-title" style="color: deeppink">Envío Exprés</h4>
              <p>
                Recibe tu pedido en 24h-48h o ven a buscarlo en tienda sin
                ningún coste. ¡No esperes para tener tu pedido a casa!
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <!--Cuadro: Entregas Comprobadas-->
            <div class="info">
              <div class="icon icon-rose">
                <i class="material-icons">favorite_border</i>
              </div>
              <h4 class="info-title" style="color: deeppink">
                Garantía de 2 años
              </h4>
              <p>Para que no sufras si hay algún error o fallo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Perfil del personal------------------------------------------------------>
  <div class="section text-center">
    <h2 class="title" style="color: deeppink">
      Conoce al equipo de Red Computer
    </h2>
    <div class="team">
      <div class="row">
        <div class="col-md-4">
          <!--Personal: Padre-->
          <div class="team-player">
            <div class="card card-plain">
              <div class="col-md-6 ml-auto mr-auto">
                <img
                  src="https://tienda.redcomputer.es/modules/jscomposer/uploads/quienes-somos/christopher-2.jpg"
                  alt="Thumbnail Image"
                  class="img-raised rounded-circle img-fluid"
                />
              </div>
              <h4 class="card-title" style="color: deeppink">Christopher</h4>
              <div class="card-body">
                <p class="card-description">
                  El genio de los portátiles Juego favorito: Fortnite
                </p>
              </div>
              <div class="card-footer-justify-content-center">
                <a href="#father" class="btn btn-link btn-just-icon"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#father" class="btn btn-link btn-just-icon"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a href="#father" class="btn btn-link btn-just-icon"
                  ><i class="fa fa-facebook-square"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <!--Personal: Hijo-->
          <div class="team-player">
            <div class="card card-plain">
              <div class="col-md-6 ml-auto mr-auto">
                <img
                  src="https://tienda.redcomputer.es/modules/jscomposer/uploads/quienes-somos/noel-2.jpg"
                  alt="Thumbnail Image"
                  class="img-raised rounded-circle img-fluid"
                />
              </div>
              <h4 class="card-title" style="color: deeppink">Noel</h4>
              <div class="card-body">
                <p class="card-description">
                  Experto en el trato con el cliente y los números Juego
                  favorito: Overwatch
                </p>
              </div>
              <div class="card-footer-justify-content-center">
                <a href="#son" class="btn btn-link btn-just-icon"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#son" class="btn btn-link btn-just-icon"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a href="#son" class="btn btn-link btn-just-icon"
                  ><i class="fa fa-facebook-square"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <!--Personal: Madre-->
          <div class="team-player">
            <div class="card card-plain">
              <div class="col-md-6 ml-auto mr-auto">
                <img
                  src="https://tienda.redcomputer.es/modules/jscomposer/uploads/quienes-somos/davi-2.jpg"
                  alt="Thumbnail Image"
                  class="img-raised rounded-circle img-fluid"
                />
              </div>
              <h4 class="card-title" style="color: deeppink">David</h4>
              <div class="card-body">
                <p class="card-description">
                  El as de los montajes y las reparaciones Juego favorito: La
                  saga FIFA
                </p>
              </div>
              <div class="card-footer-justify-content-center">
                <a href="#mother" class="btn btn-link btn-just-icon"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#mother" class="btn btn-link btn-just-icon"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a href="#mother" class="btn btn-link btn-just-icon"
                  ><i class="fa fa-facebook-square"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex"></div>

  <!--Contacta con nosotros----------------------------------------------------------->
  <div class="section section-contacts">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="text-center title" style="color: deeppink">
          ¿Tienes alguna duda?
        </h2>
        <h4 class="text-center description">
          Cualquier duda de nuestros productos sientete libre de enviarnos un
          mensaje para estar en contacto y saber tu viaje por nuestra tienda
        </h4>

        <form action="" class="contact-form">
          <!--Llenar formulario-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bnd-label-floating">Nombre</label>
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="bnd-label-floating">Correo Electrónico</label>
                <input type="email" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="message" class="bnd-label-floating"
              >Dejanos tu mensaje</label
            >
            <textarea
              class="form-control"
              name=""
              rows="4"
              id="message"
            ></textarea>
          </div>
          <div class="row">
            <div class="col-md-4 ml-auto mr-auto text-center">
              <button class="btn btn-rose btn-raised">
                <i class="material-icons"> favorite </i>
                Envianos Amor
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Productos Relacionados----------------------------------------->
  <div
    class="section text-left m-auto"
    style="background-color: rgb(10, 10, 10); padding: 0%; max-width: 1200px"
  >
    <products-list></products-list>
  </div>

  <br />

  <!--Productos destacados-->
  <div
    class="section text-left m-auto"
    style="background-color: rgb(10, 10, 10); padding: 0px; max-width: 1200px"
  >
    <ad-list></ad-list>
  </div>
</div>
