<!DOCTYPE html>
<div class="row" style="margin-top: 0%">
  <div class="container d-flex">
    <h4 class="title m-0" style="color: deeppink">
      Relacionado con tus visitas anteriores
    </h4>
    <a href="" class="ml-3" style="font-size: x-small; padding: 0.4%"
      >Ver historial</a
    >
  </div>
</div>

<!--Lista de productos relacionados-->
<div
  class="row m-auto d-flex"
  style="background-color: rgb(10, 10, 10); padding: 15px"
>
  <!--Producto 1-->
  <div
    class="card col-md-3 ml-2 mr-2 m-auto text-center"
    style="padding: 0; max-width: 200px; background-color: white"
  >
    <span class="m-0">
      <img
        src="https://m.media-amazon.com/images/I/61mCPqoP6bL._AC_.jpg"
        alt="Thumbnail Image"
        class="img-products"
      />
    </span>

    <hr class="m-0" />

    <div class="container d-flex" style="padding: 3px">
      <div class="text-left ml-2">
        <h5 class="card-title" style="margin-bottom: 0px; margin-top: 0px">
          MSI B450 Plus
        </h5>
        <small class="title"> 4500$ </small>
        <p class="description" style="font-size: 0.8rem">
          12*375$ meses sin intereses
        </p>
      </div>
      <i class="material-icons text-right m-0" style="padding: 2px"
        >local_shipping</i
      >
    </div>
  </div>

  <!--Producto 2-->
  <div
    class="card col-md-3 ml-2 mr-2 m-auto text-center"
    style="background-color: white; padding: 0; max-width: 200px"
  >
    <span class="m-0">
      <img
        src="https://m.media-amazon.com/images/I/61qnfFDlCBL.jpg"
        alt="Thumbnail Image"
        class="img-products"
      />
    </span>

    <hr class="m-0" />

    <div class="container d-flex" style="padding: 3px">
      <div class="text-left ml-2">
        <h5 class="card-title" style="margin-bottom: 0px; margin-top: 0px">
          GTX 1660 Ti
        </h5>
        <small class="title"> 4200$ </small>
        <p class="description" style="font-size: 0.8rem">
          12*350$ meses sin intereses
        </p>
      </div>
      <i class="material-icons text-right m-0" style="padding: 2px"
        >local_shipping</i
      >
    </div>
  </div>

  <!--Producto 3-->
  <div
    class="card col-md-3 ml-2 mr-2 m-auto text-center"
    style="background-color: white; padding: 0; max-width: 200px"
  >
    <span class="m-0">
      <img
        src="https://www.powerplanetonline.com/cdnassets/fuente_alimentacion_550w_corsair_vs550_80_plus_white_01_l.jpg"
        alt="Thumbnail Image"
        class="img-products"
      />
    </span>

    <hr class="m-0" />

    <div class="container d-flex" style="padding: 3px">
      <div class="text-left ml-2">
        <h5 class="card-title" style="margin-bottom: 0px; margin-top: 0px">
          Coirsair 550W
        </h5>
        <small class="title"> 1500$ </small>
        <p class="description" style="font-size: 0.8rem">
          12*125$ meses sin intereses
        </p>
      </div>
      <i class="material-icons text-right m-0" style="padding: 2px"
        >local_shipping</i
      >
    </div>
  </div>

  <!--Producto 4-->
  <div
    class="card col-md-3 ml-2 mr-2 m-auto text-center"
    style="background-color: white; padding: 0; max-width: 200px"
  >
    <span class="m-0">
      <img
        src="https://www.bip.cl/assets/fotos/27308/1.png"
        alt="Thumbnail Image"
        class="img-products"
      />
    </span>

    <hr class="m-0" />

    <div class="container d-flex" style="padding: 3px">
      <div class="text-left ml-2">
        <h5 class="card-title" style="margin-bottom: 0px; margin-top: 0px">
          16Gb RAM DDR4
        </h5>
        <small class="title"> 2600$ </small>
        <p class="description" style="font-size: 0.8rem">
          12*83.33$ meses sin intereses
        </p>
      </div>
      <i class="material-icons text-right m-0" style="padding: 2px"
        >local_shipping</i
      >
    </div>
  </div>
</div>
