<!DOCTYPE html>
<div class="row" style="margin-top: 0%">
  <div class="container d-flex">
    <h4 class="title m-0" style="color: deeppink">
      Relacionado con tus visitas anteriores
    </h4>
    <a href="" class="ml-3" style="font-size: x-small; padding: 0.4%"
      >Ver historial</a
    >
  </div>
</div>

<!--Lista de productos relacionados-->
<div
  class="row m-auto"
  style="background-color: rgb(10, 10, 10); padding: 15px"
  ng-controller="Products as prods"
>
  <ul class="d-flex">
    <li
      class="list-inline-item"
      ng-repeat="p in prods.products | orderBy: 'solded': true"
      ng-click="prods.go(p._id)"
    >
      <!--Producto 1-->
      <div
        class="card col-md-3 ml-3 mr-3 m-auto text-center"
        style="padding: 0; max-width: 200px; background-color: white"
      >
        <span class="m-0">
          <img
            ng-src="{{p.images[0]}}"
            alt="Gems placeholder"
            class="img-products"
          />
        </span>

        <hr class="m-0" />

        <div class="container d-flex" style="padding: 3px">
          <div class="text-left ml-2">
            <h5 class="card-title" style="margin-bottom: 0px; margin-top: 0px">
              {{p.name}}
            </h5>
            <small class="title"> {{p.price | currency}} </small>
            <p class="description" style="font-size: 0.6rem">{{p.plan}}</p>
            <small class="text-right" style="color: violet">
              {{p.solded}} unidades vendidas
            </small>
          </div>
          <i class="material-icons text-right m-0" style="padding: 2px"
            >local_shipping</i
          >
        </div>
      </div>
    </li>
  </ul>
</div>
